<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9Z_4M4UV-ZWcbJ5OGKzMoVWqun7HllXI</string>
	<key>GCM_SENDER_ID</key>
	<string>74487002543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etamuAllInOne</string>
	<key>PROJECT_ID</key>
	<string>etamu-all-in-one</string>
	<key>STORAGE_BUCKET</key>
	<string>etamu-all-in-one.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74487002543:ios:802e7a9e60bc0f8a9feb5a</string>
</dict>
</plist>